#login_page{
    background-image: url(../images/schedule_background.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

#login_button_container{
    padding: 5%;
    width: 40%;
    margin-left: 30%;
    background-color: white;
    opacity: .75;
    margin-top: 20%;
    text-align: center;
    
}

.sidebar{
	width: 25%;
	left: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	background-color: blue;
}

#fb_pic{
	height: 40%;
	width: 40%;
}