#login_page{
    background-image: url(../images/schedule_background.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

#login_button_container{
    padding: 5%;
    width: 40%;
    margin-left: 30%;
    background-color: white;
    opacity: .75;
    margin-top: 20%;
    text-align: center;
    
}

.sidebar{
	width: 25%;
	left: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	background-color: blue;
}

.sidebar table tr{
	border-bottom: 2px white;
}

.sidebar table tr td{
	width: 100%;
	font-size: 24px;
	color: white;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
}

#fb_pic{
	height: 25%;
	width: 40%;
	margin-left: 30%;
	border-radius: 50%;
	border-color: white;
	margin-top: 10%;
	border-color: white;
	border: white 2px;
}