html{
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	background: rgba(237,237,237,1);
background: -moz-linear-gradient(45deg, rgba(237,237,237,1) 0%, rgba(125,120,125,1) 10%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(237,237,237,1)), color-stop(10%, rgba(125,120,125,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(45deg, rgba(237,237,237,1) 0%, rgba(125,120,125,1) 10%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(45deg, rgba(237,237,237,1) 0%, rgba(125,120,125,1) 10%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(45deg, rgba(237,237,237,1) 0%, rgba(125,120,125,1) 10%, rgba(0,0,0,1) 100%);
background: linear-gradient(45deg, rgba(237,237,237,1) 0%, rgba(125,120,125,1) 10%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#000000', GradientType=1 );
}

.sidebar{
	width: 25%;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	background-color: blue;
	align-content: center;
	align-items: center;
background: rgba(0,72,255,1);
background: -moz-linear-gradient(-45deg, rgba(0,72,255,1) 0%, rgba(55,98,239,1) 44%, rgba(125,132,219,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,72,255,1)), color-stop(44%, rgba(55,98,239,1)), color-stop(100%, rgba(125,132,219,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,72,255,1) 0%, rgba(55,98,239,1) 44%, rgba(125,132,219,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,72,255,1) 0%, rgba(55,98,239,1) 44%, rgba(125,132,219,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,72,255,1) 0%, rgba(55,98,239,1) 44%, rgba(125,132,219,1) 100%);
background: linear-gradient(135deg, rgba(0,72,255,1) 0%, rgba(55,98,239,1) 44%, rgba(125,132,219,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0048ff', endColorstr='#7d84db', GradientType=1 );
}

.sidebar table{
	width: 100%;
	border-bottom: 2px solid powderblue;
}

.sidebar table tr td{
	width: 100%;
	font-size: 40px;
	color: white;
	text-align: center;
	padding-top: 4%;
	padding-bottom: 4%;
}

.sidebar table tr .ul_container{
	padding-top: 0px;
	padding-bottom: 0px;
}

#fb_pic{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-color: white;
	margin-top: 10%;
	border-color: white;
	border: white 2px;
}

#logo{
	bottom: 0;
	padding-bottom: 5%;
	height: 150px;
	width: 150px;
	align-self: center;
}



#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
#cssmenu {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}
#cssmenu ul ul {
  display: none;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 4% 4%;
  cursor: pointer;
  z-index: 2;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
	color: white;
	background: rgba(0,72,255,1);
background: -moz-linear-gradient(-45deg, rgba(0,72,255,1) 0%, rgba(31,77,235,1) 44%, rgba(71,83,209,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,72,255,1)), color-stop(44%, rgba(31,77,235,1)), color-stop(100%, rgba(71,83,209,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,72,255,1) 0%, rgba(31,77,235,1) 44%, rgba(71,83,209,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,72,255,1) 0%, rgba(31,77,235,1) 44%, rgba(71,83,209,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,72,255,1) 0%, rgba(31,77,235,1) 44%, rgba(71,83,209,1) 100%);
background: linear-gradient(135deg, rgba(0,72,255,1) 0%, rgba(31,77,235,1) 44%, rgba(71,83,209,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0048ff', endColorstr='#4753d1', GradientType=1 );
}

#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {
  border-color: #eeeeee;
}

#cssmenu ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #32373e;
  border-left: 1px solid #32373e;
  border-right: 1px solid #32373e;
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #eeeeee;
  background: #49505a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
  background: #424852;
  color: #ffffff;
}
#cssmenu ul ul li:first-child > a {
  box-shadow: none;
}
#cssmenu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul ul li a {
  padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#cssmenu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.main{
	margin-left: 25%;
	width: 75%;
	color: white;
	padding: 3%;
}

.main h1{
	font-size: 48px;
}

.main form input{
	width: 20%;
	font-size: 20px;
}

.main .submit_button{
	margin-top: 3%;
	height: 4%;
	width: 7%;
}

#person_overlay{
	position: absolute;
	z-index: 3;
	width: 30%;
	margin-left: 35%;
	background-color: white;
	font-family: Helvetica, Arial, sans-serif;
	padding: 3%;
	margin-top: 10%;
	visibility: hidden;
}
